<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajax Post</title>
    <link rel="stylesheet" type="text/css" href=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'products/js/ajax.js' %}"></script>
    {% block script %}{% endblock %}
  </head>

  <body>
    <form method="POST" action="/products/insert" id="post-form">
      {% csrf_token %}
      <table>
        <tr>
          <td>Car Name</td>
          <td>
            <input type="text" name="name" id="name"/>
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <input type="text" name="type" id="type"/>
          </td>
        </tr>
        <tr>
          <td>Color</td>
          <td>
            <input type="text" name="color" id="color"/>
          </td>
        </tr>
        <tr>
          <td><input type="submit" id="btn" value="test" /></td>
          <td><label id="print" style="color:red;">aa</label></td>
        </tr>
      </table>
    </form>
  </body>
</html>
