*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.content_height{
    height: 450px;
    width: 50%;
    border: 1px solid;
}
.box{
  width: 200px;
  height: 400px;
  background-color: red;
  color: green;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    border: 1px solid #ff9966;
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.wrapper{
    width: 90%;
    height: auto;
    margin: auto;
}

.content_height{ height: 400px; }

@media screen and (max-width: 500px){
    [class*='col-']{
        width: 100%;
    }
}

@media screen and (min-width: 501px) and (max-width: 780px){
    .col-m1{width: 8.33%;}
    .col-m2{width: 16.66%}
    .col-m3{width: 25%;}
    .col-m4{width: 33.33%;}
    .col-m5{width: 41.66%}
    .col-m6{width: 50%;}
    .col-m7{width: 58.33%;}
    .col-m8{width: 66.66%}
    .col-m9{width: 75%;}
    .col-m10{width: 83.33%;}
    .col-m11{width: 91.66%}
    .col-m12{width: 100%;}
  }
  .box_one{
    height: 200px;
    width: 90%;
    background-color: #33ffcc;
    margin: 5%;
    box-shadow: 0px 0px 0px 5px #009999;
}
