<!DOCTYPE html>
<html>
  <head>
    <title>Box</title>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12  "><img src="{% static 'products/images/image1.jpg' %}" id="slot_1" height=400px; width=100%/></div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xl-8 " ><img src="{% static 'products/images/image2.jpg' %}" id="slot_2" height=400px width=100% /></div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12  "><img src="{% static 'products/images/image3.jpg' %}" id="slot_3" height=400px width=100% /></div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xl-8 " ><img src="{% static 'products/images/image4.jpg' %}" id="slot_4" height=400px width=100% /></div>
        </div>
      </div>

      <button type="button" class="btn btn-info btn-sm" style="margin:10px">Switch the images</button>
      <script src="{% static 'products/js/query.js' %}"/></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
